<section>
    <h1>hi</h1>
    <img src="<%=item.img %> " alt="">
    <h2><%= item.title %> </h2>
    <h3><%= item.author %></h3>
    <p><%= item.description %></p>
    <p><%= item.isbn %></p>
    <p><%= item.bookshelf %></p>
</section>