<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./public/style/reset.css">
    <link rel="stylesheet" href="./public/style/base.css">
    <link rel="stylesheet" href="./public/style/layout.css">
    <link rel="stylesheet" href="./public/style/modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>Best Books !</h1>
        <div class="topnav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="myLinks">
                <a href="./searches/new">Search for books</a>
            </div>
            
        </div>

    </header>
    <h2 class="h2">Saved Books</h2>
    <main>
        <p> <%= result.length %> Books In The Collection</p>
        <section>
            <% result.forEach (results=>{ %> 
                <img src="<%= results.img %>" alt="">
                <h2><%= results.title %> </h2>
                <h3><%= results.author %> </h3>
                <p><%= results.isbn%> </p>
         <form action=<%=`/books/${results.id}`%> method="POST">
        <input type="hidden" value="<%= results.img %> " name="img">
        <input type="hidden" value="<%= results.title %> " name="title">
        <input type="hidden" value="<%= results.author %> " name="author">
        <input type="hidden" value="<%= results.isbn %> " name="isbn">
        <input type="hidden" value="<%= results.description%>" name="description">
        <input type="hidden" value="<%= results.bookshelf%>" name="bookshelf">
        <button type="submit">View Details</button>
        </form>
        <% }) %> 
        </section>
    </main>
    <footer>
        
        <a href="#">
            <i class="far fa-envelope"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="#">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>
    </footer>
    <script src="./public/style/menu.js"></script>
</body>
</html>